.markdown-node {
    object-fit: contain;
    width: 100%;
    height: 100%;
    align-content: center;
    vertical-align: middle;
    overflow: hidden;
    font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
}

.react-flow__node:has(*>.markdown-node-plot) {
  /* white inner border, black outer border */
  box-shadow:
    inset 0 0 0 1px white,
    inset 0 0 0 2px black,
    0 0 0 1px white,
    0 0 0 2px black;
}

.markdown-node > p {
    margin: 0rem;
    margin-top: 0.5rem;
    padding: 0;
}

.markdown-node > pre {
    padding: 0.5rem;
}

.markdown-node > img {
    margin: 0;
    padding: 0;
}

pre {
    text-align: left;
    overflow: hidden;
}

:root {
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

tr {
    background-color: var(--color-canvas-default);
    border-top: 1px solid var(--color-border-muted);
}

tr:nth-child(2n) {
    background-color: var(--color-canvas-subtle);
}

td,
th {
    padding: 6px 13px;
    border: 1px solid var(--color-border-default);
}

th {
    font-weight: 600;
}

table img {
    background-color: transparent;
}


.react-flow__node-resizer {
    border-radius: 0;
    border: none;
}

.react-flow__resize-control.handle {
    background-color: #ffffff;
    border-color: #9e86ed;
    border-radius: 0;
    width: 9px;
    height: 9px;
}

.react-flow__handle {
    position: absolute;
    pointer-events: none;
    min-width: 11px;
    min-height: 11px;
    width: 11px;
    height: 11px;
    background: white;
    border: 1px solid  #1a192b;
    border-radius: 100%;
  }

  .react-flow__handle-bottom {
    top: auto;
    left: 50%;
    bottom: -6px;
    transform: translate(-50%, 0);
  }
.react-flow__handle-top {
    left: 50%;
    top: -6px;
    transform: translate(-50%, 0);
  }
.react-flow__handle-left {
    top: 50%;
    left: -6px;
    transform: translate(0, -50%);
  }
.react-flow__handle-right {
    right: -6px;
    top: 50%;
    transform: translate(0, -50%);
  }

  
.react-flow__node-output {
  padding: 0px !important
}

.react-flow__node-input {
    border-radius: 50%;
}

@keyframes pulse-animation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1);
      opacity: 0.2;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
    
.blinking-text {
    position: absolute;
    /* left: 50%; */
    top:-0.75rem;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 0.75em;
    animation: pulse-animation 1.5s ease-in-out infinite;
    pointer-events: none; /* so it doesn’t block connections */
    font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
    left: 0%;
    font-weight: 400;
  }
  .markdown-node-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  
  /* when data.kind === 'plot', add a double border */
.markdown-node-wrapper--double-border {
    border: 2px solid #333;
  }
  
.markdown-node-wrapper--double-border::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #333;
    pointer-events: none;
  }

  .btn-divider {
    height: 5px;
    width: 100%;
    background-color: #ccc;
    align-self: stretch;
  }
  
  .reactflow {
    position: relative;
  }
  
  .markdown-node-hover-container {
    display: inline-block; /* or flex/block depending on your layout */
  }
  
  .node-popup-overlay {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    background: rgba(255, 255, 255, 0.97);
    border: 1px solid #ccc;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  

.react-flow__node-custominput {
    background: #fff
}

.react-flow__handle.connecting {
    background: #ff6060
}

.react-flow__handle.valid {
    background: #5d9
}

/* position the lock icon */
.lock-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 0.8em;       /* tweak to taste */
  color: rgba(0,0,0,0.6); /* or any color you like */
  z-index: 10;
  cursor: default;
}
