
.markdown-node * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: "Source Sans Pro", sans-serif;
    object-fit: contain;
}

.markdown-node h6 {
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 0.5rem;
}

.markdown-node pre {
    overflow: hidden;
    text-align: left;
    color: #660000;
}

:root {
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

tr {
    background-color: var(--color-canvas-default);
    border-top: 1px solid var(--color-border-muted);
}

tr:nth-child(2n) {
    background-color: var(--color-canvas-subtle);
}

td,
th {
    padding: 6px 13px;
    border: 1px solid var(--color-border-default);
}

th {
    font-weight: 600;
}

table img {
    background-color: transparent;
}


.react-flow__node-resizer {
    border-radius: 0;
    border: none;
  }
  

.react-flow__resize-control.handle {
    background-color: #ffffff;
    border-color: #000000;
    border-radius: 0;
    width: 7px;
    height: 7px;
  }
  
  .react-flow__handle {
    position: absolute;
    pointer-events: none;
    min-width: 5px;
    min-height: 5px;
    width: 7px;
    height: 7px;
    background: white ;
    border: 1px solid #1a192b;
    border-radius: 100%;
  }
  
